<div class="auth-container">
    <div class="auth-card">
        <div class="auth-header">
            <h2>Bienvenido de nuevo</h2>
            <p>Inicia sesión para continuar tu progreso</p>
        </div>

        <form (submit)="onSubmit($event)">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" placeholder="tu@email.com" [(ngModel)]="email"
                    name="email" required>
            </div>

            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" class="form-control" placeholder="••••••••" [(ngModel)]="password"
                    name="password" required>
            </div>

            <div class="form-actions">
                <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
            </div>

            <div *ngIf="loginError" class="error-alert">
                <i class="fa-solid fa-circle-exclamation"></i>
                Usuario o contraseña incorrectos
            </div>
            <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
        </form>

        <div class="auth-footer">
            <p>¿No tienes cuenta? <a routerLink="/register">Regístrate</a></p>
        </div>
    </div>
</div>